config LIBEDHOC_ENABLE
    bool "Enable libedhoc."
    imply ZCBOR
    imply ZCBOR_CANONICAL
    default n
    help
        Enable building libedhoc for Zephyr target.

if LIBEDHOC_ENABLE
    config LIBEDHOC_KEY_ID_LEN
        int "Key identifier length in bytes."
        default 4

    config LIBEDHOC_MAX_NR_OF_CIPHER_SUITES
        int "Maximum number of cipher suites in chain for negotiation."
        default 3

    config LIBEDHOC_MAX_LEN_OF_CONN_ID
        int "Maximum length of connection identifier in bytes."
        default 1

    config LIBEDHOC_MAX_LEN_OF_ECC_KEY
        int "Maximum length of ECC (Elliptic Curve Cryptography) key in bytes."
        default 32

    config LIBEDHOC_MAX_LEN_OF_MAC
        int "Maximum length of hash in bytes."
        default 32

    config LIBEDHOC_MAX_NR_OF_EAD_TOKENS
        int "Maximum number of EAD (External Authorization Data) tokens."
        default 3

    config LIBEDHOC_MAX_NR_OF_CERTS_IN_X509_CHAIN
        int "Maximum number of certificates in X.509 chain."
        default 2

    config LIBEDHOC_MAX_LEN_OF_CRED_KEY_ID
        int "Maximum length of authentication credentials key identifier in bytes."
        default 1

    config LIBEDHOC_MAX_LEN_OF_HASH_ALG
        int "Maximum length of authentication credentials hash algorithm in bytes."
        default 1

    choice LIBEDHOC_LOG_LEVEL_CHOICE
        prompt "Select compile-time log level for libedhoc."
        default LIBEDHOC_LOG_LEVEL_NONE

        config LIBEDHOC_LOG_LEVEL_NONE
            bool "No logging"
        config LIBEDHOC_LOG_LEVEL_ERR
            bool "Minimal level of verbosity is error"
        config LIBEDHOC_LOG_LEVEL_WRN
            bool "Minimal level of verbosity is warning"
        config LIBEDHOC_LOG_LEVEL_INF
            bool "Minimal level of verbosity is information"
        config LIBEDHOC_LOG_LEVEL_DBG
            bool "Minimal level of verbosity is debug"
    endchoice

    config LIBEDHOC_LOG_LEVEL
        int
        default 0 if LIBEDHOC_LOG_LEVEL_NONE
        default 1 if LIBEDHOC_LOG_LEVEL_ERR
        default 2 if LIBEDHOC_LOG_LEVEL_WRN
        default 3 if LIBEDHOC_LOG_LEVEL_INF
        default 4 if LIBEDHOC_LOG_LEVEL_DBG
        range 0 4
        help
            0 No logs
            1 Error
            2 Warning
            3 Information
            4 Debug

endif # LIBEDHOC_ENABLE
