name: Build and Test on Linux

on: [push, pull_request]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Tools versions
      run: |
        sudo apt-get update
        gcc --version
        make --version
        sudo apt install clang
        clang --version
        sudo apt install valgrind
        valgrind --version
        sudo apt install cppcheck
        cppcheck --version
        sudo apt install clang-tidy
        clang-tidy --version
        sudo apt install cmake
        cmake --version
        sudo apt install ninja-build
        ninja --version
    - name: Checkout submodules
      uses: actions/checkout@v2
      with:
        submodules: recursive
    - name: Run build clang
      run: |
        chmod +x ./scripts/build-linux-clang.sh
        ./scripts/build-linux-clang.sh
    - name: Run build gcc
      run: |
        chmod +x ./scripts/build-linux-gcc.sh
        ./scripts/build-linux-gcc.sh
    - name: Run unit tests
      run: ./build/tests/libedhoc_module_tests
    - name: Run valgrind
      run: |
        valgrind --tool=memcheck --leak-check=full --show-leak-kinds=all -s ./build/tests/libedhoc_module_tests
        valgrind --tool=drd --show-stack-usage=yes -s ./build/tests/libedhoc_module_tests | tail -n 1
    - name: Run cppcheck
      run: |
        chmod +x ./scripts/verify_cppcheck.sh
        ./scripts/verify_cppcheck.sh
